@import "utilities/variables";

.app__blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        margin-bottom: 2rem;
        text-align: center;
    }
    .app__blog-posts{
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        .app__blog-post{
            text-align: justify;
            max-width: 250px;
            width: 100%;
            padding: 1rem 2rem;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3, p{
                margin-bottom: 0.5rem;
            }
            h3{
                border-bottom: 2px solid $--clr-green
            }
            .app__blog-post-date{
                text-align: end;
                color: $--clr-grey;
                font-weight: $--fw-bold;
            }
        }
    }
    .app__blog-button{
        max-width: 250px;
        width: 100%;
        height: 40px;
        background-color: $--clr-light;
        margin: 0 auto;

    }
    .app__blog-button,
    .app__blog-post{
        border: 1px solid $--clr-black;
        border-radius: 10px;
        -webkit-box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
        -moz-box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
        box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
    }
} 