@import "utilities/variables";

.app__blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .app__blog-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #676767, #d3d4d4) 1;
    margin-bottom: 2rem;
    h1 {
      margin-bottom: 0.6rem;
    }
    .app__blog-title-last-posts{
        align-self: flex-end;
        display: none;
    }
  }
  .app__blog-posts {
    display: flex;
    margin: 2rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    align-items: stretch;
    .app__blog-post {
      text-align: justify;
      max-width: 340px;
      width: 100%;
      padding: 1rem 2rem;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: default;
      h3,
      p {
        margin-bottom: 0.5rem;
      }
      h3 {
        border-bottom: 2px solid $--clr-green;
        font-size: 1.3rem;
        background: -webkit-radial-gradient($--clr-green, #d3d4d4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .app__blog-post-date {
        text-align: end;
        color: $--clr-green;
        font-weight: $--fw-bold;
      }
      .app__blog-post-read {
        margin-top: 3rem;
        text-align: end;
        a {
          color: $--clr-grey;
          cursor: pointer;
          border-bottom: 1px solid $--clr-green;
          &:hover {
            border-width: 3px;
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
  .app__blog-button {
    max-width: 300px;
    width: 100%;
    height: 40px;
    background-color: $--clr-light;
    color: $--clr-grey;
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: $--fw-bold;
    &:hover {
      color: $--clr-green;
    }
  }

  .app__blog-button,
  .app__blog-post {
    border: 1px solid $--clr-grey;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(159, 159, 159, 1);
    -moz-box-shadow: 5px 5px 2px 0px rgba(159, 159, 159, 1);
    box-shadow: 5px 5px 2px 0px rgba(159, 159, 159, 1);
  }
  .app__blog-button:hover,
  .app__blog-post:hover {
    transform: scale(1.1) !important;
    transition-duration: 0.3s;
    -webkit-box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
    -moz-box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
    box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
  }
}

@media screen and (min-width: 768px) {
    .app__blog{
        .app__blog-title{
    
            .app__blog-title-last-posts{
                align-self: flex-end;
                display: block;
            }
        }
    }
}