@import "utilities/variables";

.app__blogList {
  .app__blogList-items {
    gap: 3rem;
    .app__blogList-item {
      margin-bottom: 4rem;
      cursor: pointer;
      &:hover {
        color: $--clr-green;
      }
      h1 {
        font-weight: $--fw-semiBold;
        margin-bottom: 0.5rem;
      }
      h3 {
        margin-bottom: 1rem;
        font-weight: $--fw-semiBold;
      }
    }
  }
}
