@import "utilities/variables";

.app__blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        margin-bottom: 2rem;
        text-align: center;
    }
    .app__blog-posts{
        display: flex;
        gap: 2rem;
        .app__blog-post{
            text-align: justify;
            max-width: 250px;
            width: 100%;
            padding: 1rem 2rem;
            border: 1px solid $--clr-black;
            border-radius: 10px;
            -webkit-box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
            -moz-box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
            box-shadow: 12px 13px 2px -2px rgba(159, 159, 159, 1);
            h3, p{
                margin-bottom: 0.5rem;
            }
        }
    }
} 