$--ff-inter: 'Inter', sans-serif;
$--ff-barlow: 'Barlow Condensed', sans-serif;
$--ff-cormorant: 'Cormorant', serif;

$--fw-extraLight: 200;
$--fw-light: 300;
$--fw-regular: 400;
$--fw-semiBold: 400;
$--fw-bold: 700;
$--fw-extraBold: 800;

$--clr-black: #1D1E22;
$--clr-grey: #9F9F9F;
$--clr-light: #FFFFFF;
$--clr-green: #0f8a70;

$--fs-h1: 3.5rem;
$--fs-h2: 2.25rem;
$--fs-h3: 1rem;
$--fs-h4: 0.8rem;
$--fs-body: 1.25rem;

$--fs-h1-mobile: 3rem;
$--fs-h2-mobile: 2.25rem;
$--fs-h3-mobile: 1.5rem;
$--fs-body-mobile: 1.1rem;
