@import "utilities/variables";

.app__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: $--clr-light;
  background-color: $--clr-black;
  .app__contact-map {
    max-width: 600px;
    width: 100%;
    iframe {
      width: 100%;
      height: 500px;
      border: none;
      align-self: center;
    }
  }
  .app__contact-info {
    max-width: 600px;
    width: 100%;
    h1 {
      border-bottom: 1px solid;
      border-image: linear-gradient(to left, #676767, #d3d4d4) 1;
      margin-bottom: 5rem;
    }
    .app__contact-info-items {
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        li {
          height: 2.5rem;
          display: flex;
          margin-bottom: 4rem;
          align-items: center;
          span {
            margin-right: 1.2rem;
            font-size: 2.5rem;
          }
          p {
            color: $--clr-grey;
          line-height: 2.2rem;

            font-size: 1.6rem;
          }
        }
        li:last-child {
          p {
            inline-size: 250px;
            overflow-wrap: break-word;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .app__contact {
    flex-direction: row;
    align-items: unset;
    justify-content: center;
    .app__contact-info {
      .app__contact-info-items {
        ul {
          li:last-child {
            margin-bottom: 0;
            p {
              inline-size: 390px;
            }
          }
        }
      }
    }
  }
}
