@import "utilities/variables";

.app__navbar{
    display: flex;
    flex-direction: row;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    -webkit-box-shadow: inset 0px -8px 23px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px -8px 23px -28px rgba(66, 68, 90, 1);
    box-shadow: inset 0px -8px 23px -28px rgba(66, 68, 90, 1);
    
    .app__navbar-logo{
        img{
            width: 280px;
        }
    }
    .app__navbar-links{
        display: flex;
        margin-right: 0.7rem;
        gap: 3rem;
        color: $--clr-grey;
        span:hover{
            color: $--clr-green;
        }
    }
}
