@import "utilities/variables";

html,
body {
  font-family: $--ff-inter;
  background-color: var($--clr-light);
}

.section__padding {
  padding: 2rem 2rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg-separator {
  background-image: url("./assets/headerMob.jpg");
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
}
@media screen and (min-width: 768px){
  .app__bg-separator{
  background-image: url("./assets/cwiczenia.jpg");
  }
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.app__heading-h1 {
  font-family: $--ff-cormorant;
  font-size: $--fs-h1;
  font-weight: $--fw-regular;
  background: -webkit-radial-gradient(#676767, #d3d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app__heading-h2 {
  font-family: $--ff-cormorant;
  font-size: $--fs-h2;
  font-weight: $--fw-regular;
  background: -webkit-radial-gradient(#676767, #d3d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app__heading-h3 {
  font-family: $--ff-cormorant;
  font-size: $--fs-h3;
  font-weight: $--fw-bold;
  color: $--clr-green;
}

.custom__button {
  background: #0f8a70;
  color: $--clr-light;
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 2rem;
  border-radius: 1px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.policy__link {
  font-size: 0.6rem;
  color: $--clr-grey;
}

@mixin gradient($color_first, $color_second) {
  background: -webkit-radial-gradient($color_first, $color_second);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p__cormorant {
  font-family: $--ff-cormorant;
  color: $--clr-grey;
  font-weight: $--fw-semiBold;
  letter-spacing: 0.04em;
  font-size: $--fs-h3;
}

.p__lato {
  font-family: $--ff-lato;
  font-weight: $--fw-light;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}
.p__inter {
  font-family: $--ff-inter;
  font-weight: $--fw-regular;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.app__react-icons {
  font-size: 2rem;
  color: $--clr-green;
}

@media screen and (min-width: 768px) {
  .section__padding {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__padding {
    padding: 4rem 6rem;
  }

  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}
