@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,700&family=Inter:wght@400;700;800&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,600;0,700;1,200;1,400&display=swap');
@import "utilities/variables";

// $--ff-inter: 'Inter', sans-serif;
// $--ff-barlow: 'Barlow Condensed', sans-serif;
// $--ff-cormorant: 'Cormorant', serif;

// $--fw-extraLight: 200;
// $--fw-light: 300;
// $--fw-regular: 400;
// $--fw-semiBold: 400;
// $--fw-bold: 700;
// $--fw-extraBold: 800;

// $--clr-black: #1D1E22;
// $--clr-grey: #9F9F9F;
// $--clr-light: #FFFFFF;
// $--clr-green: #FF8E5E;

// $--fs-h1: 3.5rem;
// $--fs-h2: 2.25rem;
// $--fs-h3: 1rem;
// $--fs-h4: 0.8rem;
// $--fs-body: 1.25rem;

// $--fs-h1-mobile: 3rem;
// $--fs-h2-mobile: 2.25rem;
// $--fs-h3-mobile: 1.5rem;
// $--fs-body-mobile: 1.1rem;

html, body{
  font-family: $--ff-inter;
  background-color: var($--clr-light);
}

.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.app__heading-h1 {
    font-family: $--ff-cormorant;
    font-size: $--fs-h1;
    font-weight: $--fw-regular;
    background: -webkit-radial-gradient(#676767, #D3D4D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app__heading-h2{
    font-family: $--ff-cormorant;
    font-size: $--fs-h2;
    font-weight: $--fw-regular;
    background: -webkit-radial-gradient(#676767, #D3D4D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app__heading-h3{
  font-family: $--ff-cormorant;
    font-size: $--fs-h3;
    font-weight: $--fw-regular;
}

.custom__button {
    background: #0f8a70;
    color: $--clr-light;
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 2rem;
    border-radius: 1px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

@mixin gradient($color_first, $color_second){
    background: -webkit-radial-gradient($color_first, $color_second);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__inter {
  font-family: var($--ff-inter);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
