@import "utilities/variables";

.app__aboutme {
  display: flex;
  justify-content: center;
  gap: 4rem;
  .app__aboutme-description {
    max-width: 450px;
    width: 100%;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0px 0px 13px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 13px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 13px -7px rgba(66, 68, 90, 1);
    h2,
    p {
      margin-bottom: 1rem;
    }
  }
  .app__aboutme-img {
    -webkit-box-shadow: 0px 0px 13px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 13px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 13px -7px rgba(66, 68, 90, 1);
    img {
      object-fit: cover;
      max-width: 400px;
      width: 100%;
      height: 100%;
    }
  }
}
